@config "../tailwind.config.js";
@import "tailwindcss";

/* Reset dasar */
:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
}

html, body {
  background: white;
  color: #0f172a;
}
